<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit # <%= animal.name %>!</h1>
    <form action="/<%= mongooses.id %>" method="post">
        <input type="text" name="name" value="<%=animal.name%>">
        <input type="text" name="name" value="<%=animal.species%>">
        <input type="text" name="name" value="<%=animal.region%>">
        <% for (for var x = 0; x animals.length; x++) { %>
            <option value="<%= animals[x]._id %>"></option>
        <% } %>
        <input type="submit" value="Edit Mongoose!">
    </form>
    <a href="/">Home</a>
</body>
</html>